/*
Vendor Prefixer
The first argument is the property. The second argument is the value for that property. Third and optional argument is the list of prefixes to use. Default value dumps all prefixes.
@include prefix(filter, blur(42deg), webkit ms);
@include prefix(transition, (visibility 0s, opacity 0.2s linear));
*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900,400|Raleway:400,300,800);
body {
  margin: 0;
  color: white; }

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900px;
  font-size: 40px;
  text-shadow: 2px 2px black; }

h1 {
  font-size: 60px;
  text-align: center; }

h2 {
  font-size: 40px;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    h2 {
      margin-bottom: 40px; } }

h3 {
  font-size: 30px; }

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 20px; }
  @media (min-width: 600px) {
    p {
      margin: 0 0 40px; } }

a {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
  text-decoration: underline;
  color: white;
  text-shadow: 1px 1px black; }

img {
  display: block;
  width: 100%;
  margin: 30px 0px 30px;
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000; }
  @media (min-width: 600px) {
    img {
      width: 60%;
      float: left;
      margin: 0px 40px 40px 0px; }
      img.right {
        float: right;
        margin: 0px 0px 40px 40px; } }

#imga {
  position: absolute;
  left: 0px;
  width: 400px; }

.page {
  transition-property: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  color: white;
  position: fixed;
  text-align: left;
  overflow: scroll; }
  .page__content {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: auto;
    min-height: 100%;
    padding: 0 16px; }
    @media (min-width: 600px) {
      .page__content {
        width: 500px;
        margin: 0 auto;
        padding: 0; } }
    @media (min-width: 1024px) {
      .page__content {
        width: 800px; } }
  .page.page--transition-out {
    -webkit-transition: left 3s ease, opacity 1.5s ease, transform 1s ease, top 3s ease;
    -moz-transition: left 3s ease, opacity 1.5s ease, transform 1s ease, top 3s ease;
    -ms-transition: left 3s ease, opacity 1.5s ease, transform 1s ease, top 3s ease;
    -o-transition: left 3s ease, opacity 1.5s ease, transform 1s ease, top 3s ease;
    transition: left 3s ease, opacity 1.5s ease, transform 1s ease, top 3s ease; }
    .page.page--transition-out.one {
      left: 150%;
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg); }
    .page.page--transition-out.two {
      left: 180%;
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg); }
    .page.page--transition-out.three {
      left: 200%;
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg); }
    .page.page--transition-out.four {
      left: 180%;
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg); }

.linky {
  display: inline-block;
  background: black;
  position: relative;
  overflow: hidden;
  width: 100px;
  font-size: 19px;
  text-align: center; }
  .linky__depression {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    -webkit-transition: top 0.1s ease, left 0.1s ease;
    -moz-transition: top 0.1s ease, left 0.1s ease;
    -ms-transition: top 0.1s ease, left 0.1s ease;
    -o-transition: top 0.1s ease, left 0.1s ease;
    transition: top 0.1s ease, left 0.1s ease;
    width: 100%;
    padding: 7px 0px; }
    @media (min-width: 600px) {
      .linky__depression {
        padding: 10px 0px; } }
  .linky__size-reserver {
    position: relative;
    padding: 7px 0px;
    opacity: 0; }
    @media (min-width: 600px) {
      .linky__size-reserver {
        padding: 10px 0px; } }
  .linky.linky--pressed .linky__depression {
    top: 2px;
    left: 3px; }

.nav {
  text-align: center;
  z-index: 2; }

.image__wrap {
  width: 100%;
  height: 0;
  padding-bottom: 47.25%;
  margin: 30px 0px 30px;
  border: 1px solid white;
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000; }
  @media (min-width: 600px) {
    .image__wrap {
      width: 60%;
      float: left;
      margin: 40px 40px; }
      .image__wrap.right {
        float: right;
        margin: 0px 0px 40px 40px; } }
