@font-face {
    font-family: 'NeoRetroDrawRegular';
    src: url('../Fonts/NEORD___-webfont.eot');
    src: url('../Fonts/NEORD___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/NEORD___-webfont.woff') format('woff'),
         url('../Fonts/NEORD___-webfont.ttf') format('truetype'),
         url('../Fonts/NEORD___-webfont.svg#NeoRetroDrawRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeoRetroFillRegular';
    src: url('../Fonts/NEORF___-webfont.eot');
    src: url('../Fonts/NEORF___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/NEORF___-webfont.woff') format('woff'),
         url('../Fonts/NEORF___-webfont.ttf') format('truetype'),
         url('../Fonts/NEORF___-webfont.svg#NeoRetroFillRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeoRetroShadowRegular';
    src: url('../Fonts/NEORS___-webfont.eot');
    src: url('../Fonts/NEORS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/NEORS___-webfont.woff') format('woff'),
         url('../Fonts/NEORS___-webfont.ttf') format('truetype'),
         url('../Fonts/NEORS___-webfont.svg#NeoRetroShadowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'MerriweatherRegular';
    src: url('../Fonts/Merriweather-webfont.eot');
    src: url('../Fonts/Merriweather-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Merriweather-webfont.woff') format('woff'),
         url('../Fonts/Merriweather-webfont.ttf') format('truetype'),
         url('../Fonts/Merriweather-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherLight';
    src: url('../Fonts/Merriweather-Light-webfont.eot');
    src: url('../Fonts/Merriweather-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Merriweather-Light-webfont.woff') format('woff'),
         url('../Fonts/Merriweather-Light-webfont.ttf') format('truetype'),
         url('../Fonts/Merriweather-Light-webfont.svg#MerriweatherLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherBold';
    src: url('../Fonts/Merriweather-Bold-webfont.eot');
    src: url('../Fonts/Merriweather-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Merriweather-Bold-webfont.woff') format('woff'),
         url('../Fonts/Merriweather-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MerriweatherBlack';
    src: url('../Fonts/Merriweather-Black-webfont.eot');
    src: url('../Fonts/Merriweather-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Merriweather-Black-webfont.woff') format('woff'),
         url('../Fonts/Merriweather-Black-webfont.ttf') format('truetype'),
         url('../Fonts/Merriweather-Black-webfont.svg#MerriweatherBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}